/* Para importar un css externo */
/* @import "../css/yourfile.css"; */
@import url(form.css);



a {
    text-decoration: none;
    color: black;
}

a:hover {
    background-color: #0093E9;
    background-image: linear-gradient(348deg, #0093E9 0%, #80D0C7 100%);
    color: white;
}

a:active {
    background-color: rgb(231, 14, 14);
}
