form>* {
    margin: 10px 0;
}

button {
    margin: 10px
}

a {
    height: 100%;
    width: 100%;
    display: block;
}

#destroy {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    margin: 0 !important;
}

#destroy:hover {
    background-color: #0093E9;
    background-image: linear-gradient(348deg, #0093E9 0%, #80D0C7 100%);
    color: white;
}

.image-upload>input {
    display: none;
}

#iconUpload {
    border: 10px solid black;
    width: 200px;
    height: 200px;
    margin: 10px 0;
    padding: 0 20px;
    border-radius: 50%;
    font-size: 100px;
    cursor: pointer;
}

#iconUpload:hover {
    color: rgb(255, 255, 255);
    text-shadow:
        0 0 7px rgb(255, 255, 255),
        0 0 10px rgb(255, 255, 255),
        0 0 21px rgb(255, 255, 255),
        0 0 42px rgb(236, 240, 239),
        0 0 82px rgb(233, 240, 238),
        0 0 92px rgb(239, 241, 241),
        0 0 102px rgb(224, 233, 230),
        0 0 151px rgb(236, 241, 240);

    background: rgb(34, 36, 41);
    background: linear-gradient(149deg, rgba(34, 36, 41, 1) 24%, rgb(69, 69, 73) 100%);
}

#iconUpload:active {
    color: rgb(108, 17, 194);
    text-shadow:
        0 0 7px rgb(255, 255, 255),
        0 0 10px rgb(255, 255, 255),
        0 0 21px rgb(255, 255, 255),
        0 0 42px rgb(236, 240, 239),
        0 0 82px rgb(233, 240, 238),
        0 0 92px rgb(239, 241, 241),
        0 0 102px rgb(224, 233, 230),
        0 0 151px rgb(236, 241, 240);

    background: rgb(34, 36, 41);
    background: linear-gradient(149deg, rgba(34, 36, 41, 1) 24%, rgb(69, 69, 73) 100%);
}

/* #musicFile, #imgFile {
    visibility: hidden;
    height: 0;
} */

select {
    border: 3px solid black;
    border-radius: 10px 5px;
    cursor: pointer;
    width: 200px;

    text-align: center;
    color: rgb(255, 255, 255);


    background: rgb(34, 36, 41);
    background: linear-gradient(149deg, rgba(34, 36, 41, 1) 24%, rgb(69, 69, 73) 100%);
}

option {
    color: black !important;
}

#buttonSub,
#buttonRes {
    color: white;
    text-decoration: none;
    height: 40px;
    background-color: #222429;
    width: 100px;
    cursor: pointer;
    margin: 0 5px;
}

#buttonSub:hover,
#buttonRes:hover {
    text-shadow:
        0 0 7px rgb(116, 74, 231),
        0 0 10px rgb(116, 74, 231),
        0 0 21px rgb(116, 74, 231),
        0 0 42px rgb(116, 74, 231),
        0 0 82px rgb(69, 5, 245),
        0 0 92px rgb(69, 5, 245),
        0 0 102px rgb(69, 5, 245),
        0 0 151px rgb(69, 5, 245);
}

#backButton {
    height: 40px;
    width: 100px;
    margin-top: 10px;
    text-decoration: none;
    color: rgb(233, 229, 229);
    background-color: #222429;
    cursor: pointer;
}

#backButton>a {
    text-decoration: none;
    color: rgb(233, 229, 229);
    width: 100% !important;
}

#crudLinks>a,
#btnCreate {
    color: white;
    text-decoration: none;
    height: 30px;
    background-color: #222429;
    width: 100px;
    cursor: pointer;
    margin: 0 5px;
}

#backButton:hover,
#backButton>a:hover,
#crudLinks>a:hover,
#btnCreate:hover {
    color: rgb(255, 255, 255);
    text-shadow:
        0 0 7px rgb(255, 255, 255),
        0 0 10px rgb(255, 255, 255),
        0 0 21px rgb(255, 255, 255),
        0 0 42px rgb(236, 240, 239),
        0 0 82px rgb(233, 240, 238),
        0 0 92px rgb(239, 241, 241),
        0 0 102px rgb(224, 233, 230),
        0 0 151px rgb(236, 241, 240);

    background: rgb(34, 36, 41);
    background: linear-gradient(149deg, rgba(34, 36, 41, 1) 24%, rgb(69, 69, 73) 100%);
}
