@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300);

body {
    font-family: 'Source Sans Pro', sans-serif !important;
    display: flex;
    justify-content: center;
    height: 100%;
    background-image: url(/public/images/troy-t-dX76Mts-LVM-unsplash.jpg);
}

.p-5 {
    background-color: #1d1b1ef0;
    color: white;
    height: 100%;
    width: 75%;
}

#msgError {
    position: fixed;
    background-color: #282828;
    backdrop-filter: blur(8px);
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border: 4px solid black;
    padding: 20px;
    font-size: x-large;
    color: white;
    text-align: center;
}

#msgOk {
    position: fixed;
    background-color: #00ff404f;
    backdrop-filter: blur(8px);
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    border: 4px solid black;
    padding: 20px;
    font-size: x-large;
    color: white;
    text-align: center;
}

/*
.container {
    border-radius: 35px;
}

body {
    min-height: 100% !important;
    background-image: linear-gradient(to right bottom, #ffd6ff, #f7cfff, #eec9fe, #e4c3ff, #d9bdff, #d1bdff, #cabdff, #c2bdff, #bfc2ff, #bcc7ff, #bbccff, #bbd0ff);
    background-size: 100vw 150vh;
}

.container {
    background-color: #e8e8f152;
    backdrop-filter: blur(5px);
}

a:hover {
    color: rgb(255, 255, 255);
    text-shadow:
        0 0 7px rgb(255, 255, 255),
        0 0 10px rgb(255, 255, 255),
        0 0 21px rgb(255, 255, 255),
        0 0 42px rgb(236, 240, 239),
        0 0 82px rgb(233, 240, 238),
        0 0 92px rgb(239, 241, 241),
        0 0 102px rgb(224, 233, 230),
        0 0 151px rgb(236, 241, 240);

    background: rgb(34, 36, 41);
    background: linear-gradient(149deg, rgba(34, 36, 41, 1) 24%, rgb(69, 69, 73) 100%);
}

#songs-list {
    scrollbar-width: thin;
    scrollbar-color: rgb(42, 42, 43) rgba(255, 255, 255, 0.192);
}

table {
    border: 1px solid black;
}

td {
    padding: 10px;
    border-right: 1px solid black;
    border-bottom: 1px solid rgba(85, 85, 85, 0.61);
}

td>img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

#btn-create {
    height: 40px;
    width: 100px;
    padding: 7px 25px;
    background-color: #222429;
    color: rgb(233, 229, 229);
    text-decoration: none;

    border: 1px solid rgb(199, 180, 180);
    box-shadow: 10px 5px 5px rgb(201, 200, 200);
    cursor: pointer;
}

.back-button {
    margin-top: 10px;
    height: 40px;
    background-color: #222429;
    width: fit-content;
    cursor: pointer;
    text-decoration: none;
    color: white;
    border: 1px solid rgb(199, 180, 180);
    box-shadow: 10px 5px 5px rgb(201, 200, 200);
    margin-right: 5px;
}

.back-button>a {
    width: 100% !important;
    text-decoration: none;
    color: white;
}

.col-2 {
    width: 18% !important;
} */
