img {
    /* height: 35vh;
    width: 35vw;
    object-fit: contain; */
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#album-cover {
    width: 500px;
    height: 500px;
}

#parent {
    /* margin-bottom: -80px; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#parent-profile {
    /* margin-bottom: -80px; */
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#avatar {
    grid-area: 1 / 1 / 5 / 4;
}

#info {
    grid-area: 1 / 4 / 4 / 6;
}

#info-profile {
    grid-area: 1 / 4 / 4 / 7;
}

#buttons,
#back-buttons {
    grid-area: 4 / 4 / 5 / 6;
    overflow: auto;
}

#follows {
    grid-area: 5 / 1 / 6 / 6;
}

#follows>div:first-of-type {
    width: 65%;
}

#follows>div:last-of-type {
    width: 30%;
}

.follow-link {
    background: none;
    font-weight: 700;
    text-shadow: 2px 2px 5px rgb(189, 187, 187);
    display: flex;
    justify-content: center;
    align-items: center;
}

.follow-link:hover {
    text-shadow:
        0 0 7px rgb(255, 255, 255),
        0 0 10px rgb(255, 255, 255),
        0 0 21px rgb(255, 255, 255),
        0 0 42px rgb(236, 240, 239),
        0 0 82px rgb(233, 240, 238),
        0 0 92px rgb(239, 241, 241),
        0 0 102px rgb(224, 233, 230),
        0 0 151px rgb(236, 241, 240);
}

.follow {
    width: 100%;
    height: 50px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px black solid;
    color: black !important;
    background-color: white;
    cursor: pointer;
}

.follow:hover {
    color: white !important;
    background-color: #6c0f8e !important;
}

.unfollow {
    border: 2px white solid;
    color: white !important;
    background-color: black;
}

.unfollow:hover {
    border: 2px rgb(255, 0, 0) solid;
    color: white;
    background-color: rgb(119, 21, 21) !important;
}

button {
    padding: 15px 32px;
    background-color: black;
    color: white;
    display: inline-block;
    border: none;
}

button:hover,
input:hover,
a:hover {
    color: rgb(255, 255, 255);
    text-shadow:
        0 0 7px rgb(255, 255, 255),
        0 0 10px rgb(255, 255, 255),
        0 0 21px rgb(255, 255, 255),
        0 0 42px rgb(236, 240, 239),
        0 0 82px rgb(233, 240, 238),
        0 0 92px rgb(239, 241, 241),
        0 0 102px rgb(224, 233, 230),
        0 0 151px rgb(236, 241, 240);

    background: rgb(34, 36, 41);
    background: linear-gradient(149deg, rgba(34, 36, 41, 1) 24%, rgb(69, 69, 73) 100%);
}


.campo {
    display: flex;
    border-bottom: 1px solid rgb(190, 182, 182);
    margin: 10px 0;
}


#avatar>h6 {
    font-weight: bold;
    width: 100%;
}

.campo>h6 {
    font-weight: bold;
    margin-right: 5px;
}

.campo>h6:nth-of-type(2) {
    width: 80%;
}

.campo>h6>a {
    /* width: 100%;
    height: 100%;
    text-decoration: none;
    background: rgb(34, 36, 41);
    color: #fff;
    display: block; */
    background: none;
    font-weight: 700;
    text-shadow: 2px 2px 5px black;
}

.campo>h6>a:hover {
    text-shadow:
        0 0 7px rgb(255, 255, 255),
        0 0 10px rgb(255, 255, 255),
        0 0 21px rgb(255, 255, 255),
        0 0 42px rgb(236, 240, 239),
        0 0 82px rgb(233, 240, 238),
        0 0 92px rgb(239, 241, 241),
        0 0 102px rgb(224, 233, 230),
        0 0 151px rgb(236, 241, 240);
    color: white;
}


.campo>p {
    font-weight: normal;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

#buttons>form>* {
    background-color: black;
    color: white;
    display: inline-block;
    border: none;
}

#buttons>form>*,
#add-to-album {
    height: 50px !important;
}

#title {
    width: fit-content;
}

/*
.p-5 {
    height: auto !important;
} */
