img {
    height: 35vh;
    width: 35vw;
    object-fit: contain;
}

#parent {
    margin-bottom: -80px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#avatar {
    grid-area: 1 / 1 / 5 / 4;
}

#info {
    grid-area: 1 / 4 / 4 / 6;
}

#buttons,
#back-buttons {
    grid-area: 4 / 4 / 5 / 6;
    overflow: auto;
}

button {
    padding: 15px 32px;
    background-color: black;
    color: white;
    display: inline-block;
    border: none;
}

button:hover,
input:hover,
a:hover {
    color: rgb(255, 255, 255);
    text-shadow:
        0 0 7px rgb(255, 255, 255),
        0 0 10px rgb(255, 255, 255),
        0 0 21px rgb(255, 255, 255),
        0 0 42px rgb(236, 240, 239),
        0 0 82px rgb(233, 240, 238),
        0 0 92px rgb(239, 241, 241),
        0 0 102px rgb(224, 233, 230),
        0 0 151px rgb(236, 241, 240);

    background: rgb(34, 36, 41);
    background: linear-gradient(149deg, rgba(34, 36, 41, 1) 24%, rgb(69, 69, 73) 100%);
}


.campo {
    display: flex;
    border-bottom: 1px solid rgb(190, 182, 182);
    margin: 10px 0;
}

#campo-likes {
    font-size: xx-large;
}

#campo-likes>a {
    color: red;
}

#campo-likes>a:hover {
    background: none !important;
    text-shadow:
        0 0 7px rgb(255, 0, 0),
        0 0 10px rgb(255, 0, 0),
        0 0 21px rgb(255, 0, 0),
        0 0 42px rgb(226, 0, 0),
        0 0 82px rgb(226, 0, 0),
        0 0 92px rgb(226, 0, 0),
        0 0 102px rgb(207, 14, 14),
        0 0 151px rgb(214, 17, 17);
}

#avatar>h6 {
    font-weight: bold;
    width: 100%;
}

.campo>h6 {
    font-weight: bold;
    margin-right: 5px;
}

.campo>p {
    font-weight: normal;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

#buttons>form>* {
    background-color: black;
    color: white;
    display: inline-block;
    border: none;
}

#buttons>form>*,
#add-to-album {
    height: 50px !important;
}

#title {
    width: fit-content;
}
