@import url(profile.css);

#song {
    grid-area: 1 / 1 / 5 / 4;
}

#add-to-album-modal {
    display: none;
    position: fixed;
    background-color: wheat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
